@model BillViewModel

<h2>Bill Details</h2>
<p>Bill Number: @Model.BillId</p>
<p>Date: @Model.Date</p>
<p>Customer Name: @Model.CustomerName</p>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchaseDetail in Model.PurchaseDetails)
        {
            <tr>
                <td>@purchaseDetail.product.Name</td>
                <td>@purchaseDetail.Quantity</td>
                <td>@purchaseDetail.product.Price</td>
                <td>@(purchaseDetail.Quantity*purchaseDetail.product.Price)</td>
            </tr>
        }
    </tbody>
     <tfoot>
        <tr>
            <td colspan="1"></td>
            <td><b>Net Total</b>: @Model.NetTotal Rs</td>
        </tr>
    </tfoot>
</table>




